<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>995190016403-6vidkj1qste2snrh7623vid87rq33q7e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.995190016403-6vidkj1qste2snrh7623vid87rq33q7e</string>
	<key>API_KEY</key>
	<string>AIzaSyC_vh2G6iiLC60kdwHV9Xf-7pi7GYjorRE</string>
	<key>GCM_SENDER_ID</key>
	<string>995190016403</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.maximl.Petish-iOS</string>
	<key>PROJECT_ID</key>
	<string>petish-ios-277d0</string>
	<key>STORAGE_BUCKET</key>
	<string>petish-ios-277d0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:995190016403:ios:8ce8c0639e688cb44ac066</string>
</dict>
</plist>